/*<!-- Shelyca Surrayensih---->
<!-- TI-2C---->*/
body{
	background-color: black;
}

#nav {		
	background-color: black;
	height: 70px;		
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
}

.judul{
	font-family: 'Candara';
	font-weight: bold;
	text-align: center;
	font-size: 24pt;
}

#de {
	font-family: 'Rage Italic';
	font-weight: bold;
	font-size: 40pt;
	padding-right: 70px;
	text-align: right;
	color: white;
	text-shadow: 2px 2px #000000;
}

#nav a:link{
	color: white;
	text-decoration:none;
}

#nav a:visited{
	color: white;
	text-decoration:none;
}

#nav a:hover{
	color: lightblue;
	text-decoration:none;
}

#nav a:hover{
	color: active;
	text-decoration:none;
}

.nama{	
	font-family: 'Rage Italic';
	font-size: 170pt;
	color: white;
	text-align: center;
	padding-top: 280px;	
	padding-bottom: 270px;
	line-height: 200px;
}

.container-satu {
	width: 1400px;
	height: 2700px;
	margin-bottom: auto;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;	
	background-color: #f9ecc9;
	padding: 80px;
	text-align: center;
	box-shadow: 10px 10px 5px black;
	border-radius: 20px;
	box-sizing: border-box;
}


#about-us{
	font-size: 60pt;
	font-weight: bold;
	font-family: 'Candara';
}

#resto {
	text-align: justify;
	font-family: 'IrisUPC';
	font-size: 30pt;
	margin-bottom: 90px;
}

#poto{
	margin-bottom: 110px;
}

#defo {
	font-weight: bold;
	font-size: 40pt;
	font-family: 'Rage Italic';
}

#contact{
	font-size: 50pt;
	font-family: 'IrisUPC';
}